{%extends "base.html"%} {%block body_block%}
<div class="container" >
    <h2 class="text-center" style="color: dimgray; text-decoration: underline;" >{{post.impurity_name|upper}}</h2>
    <div class="row" style="margin-top: 20px;">
        <img src="/media/{{post.image_file}}" class="img-thumbnail offset-md-3 col-md-3" alt="..." />  
        <div class="offset-md-1">
            <br><br>
            <p style="font-size: larger;"><span style="color: red"><strong>Price : </strong>&nbsp;&nbsp;₹ {{post.current_price}}</span>&nbsp;&nbsp; <del style="color: slategray;">₹ {{post.actual_price}}</del></p>
            <a class="btn btn-success" href="{%url 'my_site:order_details' pk=post.id%}" role="button">Enquire</a>
        </div>
    </div>
    <hr>
    <h4 style="text-decoration: underline;">Product Details:-</h4>
    <table class="table table-striped table-bordered offset-md-1 col-md-10" style="margin-top: 40px;">
        <tbody>
            {%for p in post.post_details.all%}
            <tr>
                <td style="min-width: 170px;font-weight: bold;">Chemical Name</td>
                <td>{{post.chemical_name}}</td>
            </tr>
            <tr>
                 <td  class="font-weight-bold" >CAS NO</td>                
                <td>{{post.cas_no}}</td>
            </tr>
            <tr>
                 <td  class="font-weight-bold" >Formula</td>                
                <td>{{p.mol_fm|upper}}</td>
            </tr>
            <tr>
                 <td  class="font-weight-bold" >Molecular Weight</td>                
                <td>{{p.mol_wt|upper}}</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Solubility</td>                
                <td>{{p.solubility}}</td>
            </tr>
            <tr>
                 <td  class="font-weight-bold" >State</td>                
                <td>{{p.state|upper}}</td>
            </tr>
            <tr>
                 <td  class="font-weight-bold" >Purity</td>                
                <td>{{p.purity}} %</td>
            </tr>
            <tr>
                 <td  class="font-weight-bold" >Quantity</td>                
                <td>{{post.quantity}}</td>
            </tr>
            <tr>
                 <td  class="font-weight-bold" >Exipry</td>                
                <td>{{p.expiry_date}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
 {%endblock%}

