{%extends 'base.html'%} 

{%block body_block%}
{% load crispy_forms_tags %}
<h1>Login Page</h1>
<form method="post">
    {% csrf_token %}
    <!-- <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table> -->
    {{form | crispy}}

    <input style="margin-top: 8px;" class="btn btn-primary" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{%endblock%}